.portfolio__container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2.5rem;
}

.portfolio__item{
    background: var(--color-bg-varient);
    width: 30%;
    padding: 1.3rem 1.3rem 0 1.3rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: all .5s ease;
}

.portfolio__item:hover{
    border-color: var(--color-primary-varient);
    background: transparent;
}

.portfolio__item-image{
    border-radius: 1.5rem;
    width: 100%;
    height: 200px;
    overflow:hidden;
}

.portfolio__item-image img{
    width: 100%;
    height: 200px;
    object-fit: fill;
}

.portfolio__item h3{
    margin: 1.2rem 0 ;
}

.portfolio__item-cta{
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}

.projectlink{
    color: var(--color-white);
}

.projectlink:hover{
    color: var(--color-primary);
}

@media(max-width:1024px) {
    .portfolio__container{
        gap: 1.2rem;
    }
    
}

@media(max-width:600px) {
    .portfolio__container{
        gap: 1rem;
    }
}

@media(max-width:1200px){
    .portfolio__item{
        width: 250px;
    }
}

@media(max-width:1100px){
    .portfolio__item{
        width: 350px;
    }
}

@media(max-width:840px){
    .portfolio__item{
        width: 300px;
    }
}

@media(max-width:700px){
    .portfolio__item{
        width: 100%;
    }
    .portfolio__item-image{
        height: 300px;
    }
    .portfolio__item-image img{
        height: 300px;
    }
}

@media(max-width:700px){
    .portfolio__item-image{
        height: 200px;
    }
    .portfolio__item-image img{
        height: 200px;
    }
}