.maindivabout{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 3rem;
}

.timeline{
    width: 65%;
}

.timeline h3{
    margin-bottom: 2rem;
}

.timelinecard{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 5px;
    gap: 1rem;
}

.cardimg{
    width: 15%;
}

.cardimg img{
    width: 3rem;
    height: 100%;
}

.carddata h4{
    font-size: 1.2rem;
    line-height: 1.5;
}

.carddata span{
    background:var(--color-bg-varient) ;
    padding: 5px 15px;
    margin-left: 1rem;
    font-size: 1rem;
    border-radius: 20px;
}

.carddata h5{
    font-size: 1rem;
    color: var(--color-varient-more);
}

.carddata p{
    font-size: 1rem;
    text-align: justify;
    color: var(--color-light);
}

.boxybox{
    width: 30%;
    height: fit-content;
    background: var(--color-bg-varient);
    border-radius: 2rem;
    padding: 2rem;
    border: 1px solid transparent;
    transition: all .5s ease;
}

.boxybox:hover{
    background: transparent;
    border-color: var(--color-primary-varient);
    cursor: default;
}

.onepart{
    display: flex;
    flex-direction: row;
    margin: 1rem 0;
    gap: 2rem;
}

.particon{
    display: flex;
    align-items: center;
}

.particonnn{
    font-size: 1.6rem;
}

.particonnn2{
    font-size: 1.2rem;
}

.partdata h4{
    font-size: 1rem;
    line-height: 1.5;
}

.partdata p{
    font-size: .8rem;
    text-align: justify;
    color: var(--color-light);
}

/* @media (max-width:540px) {
    .cardimg img{
        width: 50px;
    }
    .cardimg{
        width: 40%;
    }
} */

@media (max-width:1100px){
    .maindivabout{
        flex-direction: column;
        gap: 2rem;
    }
    .timeline{
        width: 100%;
    }
    .boxybox{
        width: 100%;
    }
}

